.component {
  font-size: 0.85rem;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #888;
  line-height: 1.4;
}

.editor {
  padding-left: 1rem;
}

.sample {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: underline;
  color: #479DB9;
  padding-right: 1rem;
  float: right;
}