.component {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-align: center;
}


.content > p {
  margin: 0;
  margin-bottom: 1rem;
}
