{
  "presets": [ "es2015", "react", "stage-0" ],
  "plugins": [
    [
      "transform-react-jsx",
      { "pragma": "Glamor.createElement" }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "transform-react-jsx",
          { "pragma": "Glamor._NIL=Glamor.createElement" }
        ],
        "react-hot-loader/babel"
      ]
    }
  }
}

