.component {
  font-size: 0.85rem;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.4;
}


.component :global .react-spinner_bar {
  background-color: #aaa;
}

.component :global .react-spinner {
  width: 100px;
  height: 100px;
  position: absolute;
}

.warning {
  margin-left: -1.2em;
  width: 1em;
  height: 1em;
  padding-right: 0.2em;
  vertical-align: -0.1em;
}