.header {
  color: hsl(10, 50%, 50%);
}

.queryContainer {
  display: flex;
}

.args, .result {
  border: 1px solid black;
  flex: 1;
}

.error {
  background: #FFEEEE;
}
.args {
  margin-right: 5px;
}

.result {
  margin-left: 5px;
}
